@font-face {
    font-weight: 300;
    font-family: "TT Hoves";
    src: url("../fonts/TTHOVES-LIGHT.TTF");
}

@font-face {
    font-weight: 400;
    font-family: "TT Hoves";
    src: url("../fonts/TTHOVES-REGULAR.TTF");
}

@font-face {
    font-weight: 500;
    font-family: "TT Hoves";
    src: url("../fonts/TTHOVES-MEDIUM.TTF");
}

@font-face {
    font-weight: 700;
    font-family: "TT Hoves";
    src: url("../fonts/TTHOVES-BOLD.TTF");
}

@font-face {
    font-weight: 900;
    font-family: "TT Hoves";
    src: url("../fonts/TTHOVES-BLACK.TTF");
}