@import "variables.scss";

/*НАЧАЛО АДАПТИВА 668*/
@media(min-width: 668px) {

    /*НАЧАЛО ОБЩИХ СТИЛЕЙ 668*/
    html {
        font-size: 1.497005988023952vw;
    }

    h1 {
        font-size: 2.6rem;
        line-height: 3.8rem;
    }

    .text {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    .text__line {
        padding-top: 2.4rem;
    }

    .title {
        margin-bottom: 2.4rem;
        font-size: 2.2rem;
        line-height: 3.4rem;
    }

    .wrapper {
        padding: 0 3.2rem;
    }

    .btn-main {
        padding: 1.6rem 3.2rem;
    }

    .scroll {
        padding: 0 3.2rem;
    }

    /*КОНЕЦ ОБЩИХ СТИЛЕЙ 668*/

    /*НАЧАЛО СТИЛЕЙ ГЛАВНОГО ЭКРАНА 668*/
    .main {
        padding: 14rem 0 5.2rem;
    }

    .main__container {
        max-width: 48rem;
    }

    .main__desc {
        margin: 2.4rem 0;
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    .main__numbers {
        justify-content: flex-start;
    }

    .main__numbers-item {
        margin-right: 8rem;

        &:nth-last-of-type(1) {
            margin-right: 0;
        }
    }

    .main__numbers-item-dash {
        margin: 0 1.6rem;
        width: 3.2rem;
    }

    .main__numbers-item-text {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    .main__buttons {
        margin-top: 8.7rem;
        align-items: center;

        .btn-main {
            margin-right: 5.6rem;
            margin-bottom: 0;
        }
    }

    .main__buttons-action {
        flex-direction: row;
        align-items: center;
    }

    .main__buttons-logo {
        width: 7.6rem;
        height: 2.3rem;
    }

    /*КОНЕЦ СТИЛЕЙ ГЛАВНОГО ЭКРАНА 668*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ AZIMUT ПАРК ОТЕЛЬ ПЛАС РЕЗИДЕНС СОЧИ 4* 668*/

    .description__container {
        flex-direction: row;
        padding: 0 3.2rem;
    }

    .description__image {
        margin-top: 0;
        margin-left: -23.8rem;
        flex-shrink: 0;
        width: 44.5rem;
        height: 58.4rem;
    }

    .description__info {
        max-width: 33.2rem;
        margin-left: auto;
    }


    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ AZIMUT ПАРК ОТЕЛЬ ПЛАС РЕЗИДЕНС СОЧИ 4* 668*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ МЕЖДУНАРОДНЫЙ ОТЕЛЬНЫЙ ОПЕРАТОР 668*/
    .operator__item-award {
        margin-bottom: 2.4rem;
    }

    .operator__item-about {
        display: flex;
        align-items: center;
    }

    .operator__company-logo {
        flex-shrink: 0;
        width: 9.6rem;
        height: 7.8rem;
        margin-right: 3.2rem;
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ МЕЖДУНАРОДНЫЙ ОТЕЛЬНЫЙ ОПЕРАТОР 668*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ ДОХОДНОСТЬ ДЛЯ ИНВЕСТОРА 668*/
    .profitability__container {
        .text__desc {
            max-width: 44.8rem;
        }
    }

    .profitability__reporting {
        margin-top: 2.1rem;
    }

    .profitability__reporting-name {
        max-width: 21.6rem;
    }

    .profitability__chart-image {
        width: 100%;
        height: 59.4rem;
    }

    .profitability__chart-info-wrapper {
        margin: 4.2rem 0 2.4rem;
        padding: 0 3.2rem;
    }

    .profitability__chart-info {
        padding: 2.4rem;
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ ДОХОДНОСТЬ ДЛЯ ИНВЕСТОРА 668*/
}

/*КОНЕЦ АДАПТИВА 668*/

/*НАЧАЛО АДАПТИВА 1024*/
@media(min-width: 1024px) {

    /*НАЧАЛО ОБЩИХ СТИЛЕЙ 1024*/
    html {
        font-size: 0.9765625vw;
    }

    section {
        padding: 7.2rem 0;
    }

    h1 {
        font-size: 3.2rem;
        line-height: 4.8rem;
    }

    .title {
        margin-bottom: 3.2rem;
        font-size: 2.4rem;
        line-height: 4rem;
    }

    .wrapper {
        padding: 0 4.8rem;
    }

    .text__desc {
        font-size: 1.2rem;
        line-height: 2rem;

        p {
            margin-bottom: 1.6rem;
        }
    }

    .text__line {
        padding-top: 3.2rem;
    }

    .switch {
        display: block;
    }

    .btn-main {
        padding: 1.6rem 4rem;
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    /*КОНЕЦ ОБЩИХ СТИЛЕЙ 1024*/

    /*НАЧАЛО СТИЛЕЙ ГЛАВНОГО ЭКРАНА 1024*/
    .main {
        padding: 12.8rem 0 7.4rem;
        position: relative;

        &::before {
            width: 78.4rem;
        }
    }

    .main__container {
        max-width: 59.2rem;
    }

    .main__desc {
        margin: 1.6rem 0 3.1rem;
    }

    .main__buttons {
        margin-top: 9.5rem;
    }

    .main__buttons-logo {
        position: absolute;
        bottom: -5.8rem;
        right: 4.8rem;
        opacity: 1;
        width: 11.9rem;
        height: 3.5rem;
    }

    /*КОНЕЦ СТИЛЕЙ ГЛАВНОГО ЭКРАНА 1024*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ AZIMUT ПАРК ОТЕЛЬ ПЛАС РЕЗИДЕНС СОЧИ 4* 1024*/

    .description__container {
        padding: 0 4.8rem;
        align-items: flex-start;
    }

    .description__image {
        margin-left: auto;
        position: relative;
        width: 41.2rem;
        height: 53.9rem;


        &::before {
            content: '';
            position: absolute;
            display: block;
            top: 5rem;
            left: 47rem;
            width: 25.6rem;
            height: 7.3rem;
            border-top: 0.7px solid $border-before;
            border-right: 0.7px solid $border-before;
        }
    }

    .description__info {
        max-width: 40rem;
        margin-left: 9.1rem;
        margin-top: 16rem;
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ AZIMUT ПАРК ОТЕЛЬ ПЛАС РЕЗИДЕНС СОЧИ 4* 1024*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ МЕЖДУНАРОДНЫЙ ОТЕЛЬНЫЙ ОПЕРАТОР 1024*/
    .operator__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .operator__item {
        max-width: 28.8rem;
        margin-bottom: 0;
    }

    .operator__item-award {
        margin-bottom: 3.2rem;
    }

    .operator__item-award-image {
        width: 6.9rem;
        height: 5.6rem;
    }

    .operator__item-image {
        display: block;
        width: 28.8rem;
        height: 28.8rem;

        img {
            width: 100%;
            height: auto;
        }
    }

    .operator__item-about {
        flex-direction: column;
    }

    .operator__company-logo {
        width: 6.2rem;
        height: 6.2rem;
        margin: 0 0 3.2rem;
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ МЕЖДУНАРОДНЫЙ ОТЕЛЬНЫЙ ОПЕРАТОР 1024*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ ДОХОДНОСТЬ ДЛЯ ИНВЕСТОРА 1024*/
    .profitability {

        .scroll {
            padding: 0;
            overflow-x: unset;
            overflow-y: unset;
        }
    }

    .profitability__container {
        .text__desc {
            max-width: 73.6rem;
        }
    }

    .profitability__reporting {
        margin-top: 3.6rem;
    }

    .profitability__reporting-name {
        max-width: 27.5rem;
    }

    .profitability__chart {
        flex-direction: row;
        padding: 0 4.8rem;
        justify-content: space-between;
    }

    .profitability__chart-image {
        width: 60.5rem;
        height: 59.4rem;
    }

    .profitability__chart-info-wrapper {
        margin: 0;
        padding: 0;
        max-width: 27.6rem;
    }

    .profitability__chart-info {
        padding: 3.2rem;
    }

    .profitability__chart-info-title {
        margin-bottom: 3.2rem;
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ ДОХОДНОСТЬ ДЛЯ ИНВЕСТОРА 1024*/
}

/*НАЧАЛО АДАПТИВА 1500*/

@media(min-width: 1500px) {

    /*НАЧАЛО ОБЩИХ СТИЛЕЙ 1500*/
    html {
        font-size: 0.666668vw;
    }

    h1 {
        font-size: 4rem;
        line-height: 5.4rem;
    }

    .text {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }

    .text__line {
        padding-top: 4rem;
    }

    .title {
        font-size: 3.2rem;
        line-height: 4.8rem;
        margin-bottom: 4rem;
    }

    .wrapper {
        padding: 0 8rem;
    }

    .switch {
        position: absolute;
        left: 8rem;
        top: 0;
        z-index: 10;
    }

    /*КОНЕЦ ОБЩИХ СТИЛЕЙ 1500*/

    /*НАЧАЛО СТИЛЕЙ ГЛАВНОГО ЭКРАНА 1500*/
    .main {
        padding: 17.7rem 0 12.8rem;

        &::before {
            width: 101rem;
        }
    }

    .main__container {
        max-width: 73.6rem;
    }

    .main__desc {
        margin: 2.4rem 0;
    }

    .main__numbers-item-count {
        font-size: 3.2rem;
        line-height: 5.5rem;
    }

    .main__numbers-item-dash {
        width: 6.3rem;
    }

    .main__numbers-item-text {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }

    .main__buttons {
        margin-top: 8rem;
    }

    .main__buttons-watch {
        font-size: 1.1rem;
        line-height: 2.4rem;
    }

    .main__buttons-logo {
        bottom: -10.4rem;
    }

    /*КОНЕЦ СТИЛЕЙ ГЛАВНОГО ЭКРАНА 1500*/


    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ AZIMUT ПАРК ОТЕЛЬ ПЛАС РЕЗИДЕНС СОЧИ 4* 1500*/
    .description__container {
        position: relative;
        justify-content: space-between;
        padding: 0 8rem;
    }

    .description__image {
        width: 67.2rem;
        height: 88.1rem;
        margin-left: 0;

        &::before {
            top: 9rem;
            left: 68rem;
            width: 32.8rem;
            height: 9.2rem;
        }
    }

    .description__info {
        max-width: 45.7rem;
        margin-top: 23rem;
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ AZIMUT ПАРК ОТЕЛЬ ПЛАС РЕЗИДЕНС СОЧИ 4* 1500*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ МЕЖДУНАРОДНЫЙ ОТЕЛЬНЫЙ ОПЕРАТОР 1500*/

    .operator__container {
        align-items: flex-start;
    }

    .operator__item {
        max-width: none;
    }

    .operator__item-info {
        position: relative;
        max-width: 40rem;

        &::after {
            content: '';
            position: absolute;
            display: block;
            bottom: -10rem;
            left: 12rem;
            width: 20.8rem;
            height: 10.4rem;
            border-left: 1px solid $border-before;
            border-bottom: 1px solid $border-before;
        }
    }

    .operator__item-award {
        margin-bottom: 4rem;
    }

    .operator__item-award-image {
        width: 7.6rem;
        height: 6.8rem;
    }

    .operator__item-image {
        width: 47.6rem;
        height: 47.8rem;
    }

    .operator__item-about {
        padding-top: 2.9rem;
        max-width: 33.2rem;
    }

    .operator__company-logo {
        width: 10.4rem;
        height: 10.4rem;
        margin-bottom: 5.6rem;
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ МЕЖДУНАРОДНЫЙ ОТЕЛЬНЫЙ ОПЕРАТОР 1500*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ ДОХОДНОСТЬ ДЛЯ ИНВЕСТОРА 1500*/
    .profitability__container {
        .text__desc {
            max-width: 80.4rem;
        }
    }

    .profitability__reporting {
        margin-bottom: 0.6rem;
    }

    .profitability__chart {
        padding: 0 8rem;
        align-items: center;
    }

    .profitability__chart-info-wrapper {
        max-width: 54.4rem;
    }

    .profitability__chart-info {
        padding: 5.6rem;
    }

    .profitability__chart-info-title {
        font-size: 1.6rem;
        line-height: 2.6rem;
        margin-bottom: 4rem;
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ ДОХОДНОСТЬ ДЛЯ ИНВЕСТОРА 1500*/
}

/*КОНЕЦ АДАПТИВА 1500*/