@import "variables.scss";

/*НАЧАЛО ОБЩИХ СТИЛЕЙ*/

html {
    font-size: 10px;
}

body {
    background-color: $bgcolor;
    font-family: "TT Hoves";
    color: $brown;
}

section {
    padding: 4.8rem 0;
}

h1 {
    color: $white;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.6rem;
    text-transform: uppercase;

    span {
        font-weight: 500;
    }
}

.wrapper {
    padding: 0 1.7rem;
}

.title {
    margin-bottom: 1.6rem;
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 300;
    color: $brown;
    text-transform: uppercase;

    span {
        font-weight: 400;
    }
}

.title-without-line {
    margin-bottom: 3.2rem;
}

.text {
    font-size: 1.2rem;
    line-height: 2rem;

    p,
    &>* {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    p {
        margin-bottom: 0.8rem;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 300;
        margin-bottom: 1.6rem;
    }

    h2 {
        text-transform: uppercase;
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    h3 {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    h4 {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    ul,
    ol {
        margin-top: 1.6rem;
        margin-bottom: 0.8rem;
    }

    ul li {
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: calc(50% - 0.95rem);
            width: 1.9rem;
            height: 1.9rem;
            background-image: url('@img/list.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 1.9rem 1.9rem;
        }
    }

    ol li {
        padding-left: 0.4rem;

        &::before {
            content: counter(list-item)"\a0\a0";
            display: inline-block;
            min-width: 2.2rem;
            left: 0;
        }
    }

    li {
        margin-bottom: 0.8rem;
        padding-left: 4.3rem;
        position: relative;
        font-size: 1.1rem;
        line-height: 2.1rem;

        &:nth-last-of-type(1) {
            margin-bottom: 0;
        }
    }

    b {
        font-weight: 500;
    }

    i {
        font-style: italic;
    }

    a {
        color: #947D66;
        text-decoration: underline;
    }
}

.text__desc {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 2.1rem;

    p,
    &>* {
        font-size: 1.1rem;
        line-height: 2.1rem;
    }

    p {
        margin-bottom: 0.8rem;

        &:nth-last-of-type(1) {
            margin-bottom: 0;
        }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 300;
        margin-bottom: 1.6rem;
    }

    h2 {
        text-transform: uppercase;
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    h3 {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    h4 {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    ul,
    ol {
        margin-top: 0.4rem;
        margin-bottom: 0.8rem;
    }

    ul li {
        padding-left: 2.8rem;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 1rem;
            width: 1.8rem;
            height: 1px;
            background-color: $border;
        }
    }

    ol li {

        &::before {
            content: counter(list-item)"\a0\a0";
            display: inline-block;
            min-width: 2.2rem;
            left: 0;
            font-size: 1.2rem;
            line-height: 2.1rem;
            color: $light-brown;
            margin-right: 0.4rem;
        }
    }

    li {
        margin-bottom: 0.2rem;
        position: relative;
        font-size: 1.1rem;
        line-height: 2.1rem;

        &:nth-last-of-type(1) {
            margin-bottom: 0;
        }
    }

    b {
        font-weight: 500;
    }

    i {
        font-style: italic;
    }

    a {
        color: #947D66;
        text-decoration: underline;
    }
}

.text__desc-list {
    margin-top: 0.8rem;
}

.text__line {
    position: relative;
    padding-top: 1.6rem;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $border;
    }
}

.wrapper {
    padding: 0 1.6rem;
    width: 100%;
}

.btn-main {
    padding: 0.8rem 2.4rem;
    font-size: 1.2rem;
    line-height: 2rem;
    background-color: $white;
    display: inline-block;
}

.scroll {
    overflow-x: auto;
    padding: 0 1.7rem;
    overflow-y: hidden;
}

.btn-main,
.header__btn {

    &:active,
    &:focus,
    &:focus-within {
        background-color: $bgcolor;
    }
}


.dropdown {
    margin-bottom: 0.8rem;
    display: inline-block;
    width: 100%;
    padding: 1.6rem;
    height: auto;
    background-color: $white;

    &:nth-last-of-type(1) {
        margin-bottom: 0;
    }
}

.dropdown__link {
    position: relative;
    padding-left: 3.8rem;
    font-size: 1.2rem;
    line-height: 2rem;

    &::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: calc(50% - 0.7rem);
        width: 1.4rem;
        height: 1.4rem;
        background-image: url('@img/list.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 1.4rem 1.4rem;
    }

    &::after {
        content: '';
        position: absolute;
        display: block;
        right: 0;
        top: calc(50% - 0.45rem);
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-bottom: 0.9rem solid $brown;
        transition: 0.3s ease;
    }

    span {
        display: inline-block;
        max-width: 83%;
    }
}

.dropdown__link.active {
    &::after {
        transform: rotate(180deg);
    }
}

.dropdown__content {
    display: none;
    padding-top: 2.4rem;
}

.left {
    text-align: left !important;
}

.btn {
    font-size: 1.4rem;
    line-height: 2.2rem;
    border: none;
    padding: 1.1rem 2.6rem;
    color: $white;
    background: #BD8A66;

    &:active,
    &:focus,
    &:focus-within {
        background: #996C4B;
    }
}

.scroll-swiper {
    margin-bottom: 2.8rem;
    padding: 0 1.7rem;
    text-align: center;
    overflow-x: auto;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
    }
}

.scroll-hide {
    overflow: hidden;
}

.modal {
    display: none;
    transition: opacity 0.8s ease;
    z-index: 1000;
    animation: fadeEffect 0.3s;

    .close {
        position: absolute;
        right: 1.6rem;
        top: 1.6rem;

        &::before,
        &::after {
            background-color: $light-brown;
        }
    }
}

.modal.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

.modal__container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $white;
    padding: 5.2rem 1.6rem 1.6rem;
}

/*СТИЛИ ДЛЯ ПЕРЕКЛЮЧАТЕЛЕЙ КАРТИНОК СВЕТЛЫЕ-ТЕМНЫЕ*/
.tab-content {
    display: none;
    animation: fadeEffect 0.5s ease;
}

.tab-content.active {
    display: block;
}

.switch {
    display: none;
}

.switch__item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input[type="checkbox"]+label {
        margin: 0.9rem 0;
        position: relative;
        display: block;
        width: 1.3rem;
        height: 2.3rem;
        cursor: pointer;
    }

    input[type="checkbox"]+label::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1.3rem;
        height: 2.3rem;
        border-radius: 0.8rem;
        background: $light-brown-opacity02;
    }

    input[type="checkbox"]+label::after {
        content: '';
        position: absolute;
        top: calc(100% - 1.1rem);
        left: calc(50% - 0.45rem);
        width: 0.9rem;
        height: 0.9rem;
        border-radius: 50%;
        background: $light-brown;
        opacity: 0.5;
        transition: .2s;
    }

    input[type="checkbox"]:checked+label::after {
        top: 0.2rem;
    }
}

.switch__item-checkbox {
    position: absolute;
    opacity: 0;
}

.switch__item-sun,
.switch__item-moon {
    width: 1.3rem;
    height: 1.3rem;
    opacity: 0.5;
    transition: opacity 0.3s ease;

    path {
        transition: 0.3s ease;
    }
}

.switch__item-sun.active,
.switch__item-moon.active {
    path {
        fill: $brown;
    }
}



.switch-light {

    .switch__item-sun,
    .switch__item-moon {
        path {
            fill: $white;
        }
    }

    .switch__item-sun.active,
    .switch__item-moon.active {
        path {
            fill: $border;
        }
    }

    input[type="checkbox"]+label::before {
        background: rgba(255, 255, 255, 0.2);
    }

    input[type="checkbox"]+label::after {
        background: $white;
    }
}


/*КОНЕЦ СТИЛЕЙ ДЛЯ ПЕРЕКЛЮЧАТЕЛЕЙ КАРТИНОК СВЕТЛЫЕ-ТЕМНЫЕ*/

.swiper-slide {
    &:nth-last-of-type(1) {
        margin-right: 0 !important;
    }
}


@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes headerF {
    from {
        top: -10%;
    }

    to {
        top: 0;
    }
}


/*КОНЕЦ ОБЩИХ СТИЛЕЙ*/


/*НАЧАЛО СТИЛЕЙ ШАПКИ */
.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 1.6rem 0;

    .btn__wrapper {
        display: none;
    }
}

.header-fix {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #FCF8F7;
    transition: 0.5s ease-in-out;
    padding: 1.6rem 0;

    .header__burger-icon {
        span {
            background-color: #947D66;
        }
    }

    .header__phone-icon {
        svg path {
            fill: #947D66;
        }
    }

    .header__logo {
        position: relative;
        filter: invert(49%) sepia(5%) saturate(2164%) hue-rotate(349deg) brightness(103%) contrast(80%);
        display: inline-block;
    }
}

.header.fixed {
    // position: fixed;
    // left: 0;
    // top: 0;
    width: 100%;
    z-index: 100;
    background-color: #FCF8F7;
    // animation: headerF 0.5s ease-in-out;

    .header__burger-icon {
        span {
            background-color: #947D66;
        }
    }

    .header__phone-icon {
        svg path {
            fill: #947D66;
        }
    }

    .header__logo {
        position: relative;
        filter: invert(49%) sepia(5%) saturate(2164%) hue-rotate(349deg) brightness(103%) contrast(80%);
        display: inline-block;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger-icon {
    height: 1.3rem;
    width: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
        width: 100%;
        height: 1px;
        display: block;
        background-color: $white;
    }
}

.header__burger-text {
    display: none;
}

.header__logo {
    width: 11rem;
    height: 1.1rem;

    img {
        width: 100%;
        height: auto;
    }
}

.header__nav {
    display: none;
}

.header__phone {
    display: inline-block;
}

.header__phone-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;

    svg {
        width: 100%;
        height: auto;
    }
}

.header__phone-text {
    display: none;
}

/*КОНЕЦ СТИЛЕЙ ШАПКИ */

/*НАЧАЛО СТИЛЕЙ ГЛАВНОГО ЭКРАНА */
.main {
    padding: 9.5rem 0 4.8rem;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(8px);
    }

    .wrapper {
        position: relative;
        z-index: 1;
    }
}

.main__background {
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    source,
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.main__desc {
    margin: 0.8rem 0 3.2rem;
    font-weight: 300;
    color: $white;
    font-size: 1.2rem;
    line-height: 2rem;
}

.main__numbers {
    display: flex;
    align-items: center;
}

.main__numbers-item {
    display: flex;
    align-items: center;
    margin-right: 4.7rem;

    &:nth-last-of-type(1) {
        margin-right: 0;
    }
}

.main__numbers-item-count {
    font-size: 2rem;
    line-height: 2.8rem;
    color: $white;
    font-weight: 700;
}

.main__numbers-item-dash {
    display: block;
    height: 1px;
    width: 1.6rem;
    background-color: $white;
    margin: 0 0.8rem;
}

.main__numbers-item-text {
    font-weight: 300;
    color: $white;
    font-size: 1.1rem;
    line-height: 2.1rem;
}

.main__buttons {
    margin-top: 3.2rem;
}

.main__buttons-wrapper {
    margin-top: 2.4rem;
    display: flex;
    align-items: center;
}

.main__buttons-watch {
    padding: 0.9rem 0 0.9rem 1.1rem;
    display: inline-flex;
    align-items: center;

    span {
        margin-left: 2.7rem;
        color: $white;
        line-height: 2rem;
    }

    &:active,
    &:focus,
    &:focus-within {
        .main__buttons-watch-img::after {
            opacity: 0.5;
        }
    }
}

.main__buttons-watch-img {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;

    &::after {
        content: '';
        position: absolute;
        left: calc(50% - 1.9rem);
        top: calc(50% - 1.9rem);
        display: block;
        width: 3.8rem;
        height: 3.8rem;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        opacity: 0.1;
        transition: 0.3s ease;
    }

    svg {
        width: 100%;
        height: auto;
    }
}

.main__buttons-logo {
    position: relative;
    display: inline-block;
    width: 6.8rem;
    height: 2.1rem;
    margin-left: auto;
    opacity: 0.5;
    transition: 0.3s ease;
    bottom: 0;

    &:active,
    &:focus,
    &:focus-within {
        bottom: -0.4rem;
        opacity: 0.2;
    }

    img {
        width: 100%;
        height: auto;
    }
}

/*КОНЕЦ СТИЛЕЙ ГЛАВНОГО ЭКРАНА */

/*НАЧАЛО СТИЛЕЙ СЕКЦИИ AZIMUT ПАРК ОТЕЛЬ ПЛАС РЕЗИДЕНС СОЧИ 4* */

.description__container {
    padding: 0 1.7rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.description__image {
    position: relative;
    margin-top: 4.8rem;
    width: 28.9rem;
    height: 38.1rem;

    img {
        width: 100%;
        height: auto;
    }
}

.switch-image-day,
.switch-image-night {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s ease;

    img {
        width: auto;
        height: 100%;
    }
}

.switch-image-day.active,
.switch-image-night.active {
    opacity: 1;
}

/*КОНЕЦ СТИЛЕЙ СЕКЦИИ AZIMUT ПАРК ОТЕЛЬ ПЛАС РЕЗИДЕНС СОЧИ 4* */

/*НАЧАЛО СТИЛЕЙ СЕКЦИИ МЕЖДУНАРОДНЫЙ ОТЕЛЬНЫЙ ОПЕРАТОР*/
.operator__item {
    margin-bottom: 2.4rem;

    &:nth-last-of-type(1) {
        margin-bottom: 0;
    }
}

.operator__item-award {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
}

.operator__item-award-image {
    width: 4.9rem;
    height: 4rem;
    flex-shrink: 0;
    margin-right: 1.6rem;

    img {
        width: 100%;
        height: auto;
    }
}

.operator__item-image {
    display: none;
}

.operator__company-logo {
    text-align: center;
    width: 13.1rem;
    height: 3.9rem;
    margin: 0 auto 2.4rem;

    img {
        width: 100%;
        height: auto;
    }
}

/*КОНЕЦ СТИЛЕЙ СЕКЦИИ МЕЖДУНАРОДНЫЙ ОТЕЛЬНЫЙ ОПЕРАТОР*/

/*НАЧАЛО СТИЛЕЙ СЕКЦИИ ДОХОДНОСТЬ ДЛЯ ИНВЕСТОРА*/
.profitability {
    .dropdown {
        margin-top: 3.2rem;
    }

    .dropdown__link {
        span {
            text-transform: uppercase;
        }
    }

    .reporting-image {
        opacity: 1;
    }
}

.reporting {
    position: relative;
    margin-top: 1.3rem;
    display: inline-flex;
    padding-left: 1.9rem;
    align-items: center;

    &:active,
    &:focus,
    &:focus-within {


        .reporting-image,
        .reporting-text {
            opacity: 0.7;
        }
    }
}

.reporting-image {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 2.7rem;
    flex-shrink: 0;
    opacity: 0.6;
    transition: 0.3s ease;

    img {
        width: 100%;
        height: auto;
    }
}

.reporting-name {
    font-size: 1.1rem;
    color: $light-brown;
    line-height: 2.4rem;
    margin-bottom: 0.3rem;
}

.reporting-weight {
    color: $light-brown;
    opacity: 0.5;
    line-height: 2rem;
}

.profitability__chart {
    display: flex;
    flex-direction: column-reverse;
}

.profitability__chart-image {
    margin: auto;
    width: 42.4rem;
    height: 41.6rem;

    img {
        width: 100%;
        height: auto;
    }
}

.profitability__chart-info-wrapper {
    margin: 1.6rem 0;
    padding: 0 1.7rem;
}

.profitability__chart-info {
    background-color: $white;
    padding: 1.6rem;
}

.profitability__chart-info-title {
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-bottom: 2.4rem;
}

.text__desc-list-item {
    padding-left: 0.8rem;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 0.4rem;
        height: 1px;
        background-color: $brown;
        top: 1.05rem;
        left: 0;
    }
}

.profitability__table,
.profitability__table td {
    border: 1px solid $border;
}

.profitability__table-wrapper {
    margin-top: 2.4rem;

    .scroll {
        padding: 0 0 1.3rem;
    }
}

.profitability__table {
    margin: auto;

    td {
        padding: 1.5rem;
        vertical-align: middle;
        text-align: center;
    }

    p {
        margin-bottom: 0.4rem;
        font-size: 1.1rem;
        line-height: 2.1rem;

        &:nth-last-of-type(1) {
            margin-bottom: 0;
        }
    }

    div {
        font-size: 1.1rem;
        line-height: 2.1rem;
    }

    b {
        font-size: 1.2rem;
        line-height: 2rem;
    }
}

.profitability__table-stage {
    margin-bottom: 0.8rem;
    display: block;
}

.profitability__table-text-big {
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.profitability__table-text-medium {
    font-size: 1.2rem;
    line-height: 2rem;
}

.table-text__desc {
    margin-top: 2.4rem;
    color: $light-brown;

    p {
        margin-bottom: 0;
    }
}


/*КОНЕЦ СТИЛЕЙ СЕКЦИИ ДОХОДНОСТЬ ДЛЯ ИНВЕСТОРА*/

/*НАЧАЛО СТИЛЕЙ СЕКЦИИ НОМЕРА И ПЛАНИРОВКИ*/
.interiors {
    .reporting {
        margin-bottom: 3.2rem;
    }

    .reporting-name,
    .reporting-weight {
        color: $red;
    }
}

.tabs__list {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 2.8rem;
}

.tabs__list-item {
    margin-right: 3.2rem;
    width: max-content;

    &:nth-last-of-type(1) {
        margin-right: 0;
    }

    a {
        display: inline-block;
        line-height: 2rem;
        transition: 0.3s ease;
    }
}

.tabs__list-item.active {
    a {
        padding-bottom: 0.8rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            display: block;
            height: 1px;
            background-color: $light-brown;
            width: 100%;
            bottom: 0;
            left: 0;
        }
    }
}

.interiors__swiper-navigation-buttons {
    display: none;
}

.interiors__swiper-navigation {
    margin-top: 2.4rem;
    text-align: center;
}

.swiper-pagination {
    position: static;
    display: inline-flex;
    width: fit-content;
    color: #D5C9BB;
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 300;
}

.swiper-slide {
    height: 20.1rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.thumbs-wrapper {
    margin-top: 0.8rem;
    // overflow-x: scroll;
    padding: 0 1.6rem;
}

.slides-center {
    justify-content: center !important;
}

.swiper-thumbs {
    // display: inline-flex;
    // overflow-x: auto;


    .swiper-wrapper {
        // transform: translate3d(0px, 0, 0) !important;
        // justify-content: center;
        width: auto !important;
        margin: 0 auto;
    }

    .swiper-slide {
        cursor: pointer;
    }

    .swiper-slide-thumb-active {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(252, 248, 247, 0.5), rgba(252, 248, 247, 0.5));
        }
    }
}

.swiper-interiors-layouts-thumbs {
    margin-top: 0.8rem;
    padding: 0 1.6rem;
}

.interiors-layouts {
    .interiors__swiper-navigation {
        margin-top: 1.6rem;
    }

    .swiper-slide {
        height: auto;
    }

    .swiper-thumbs {
        .swiper-slide {
            width: 3rem !important;
            height: 3rem !important;

            .swiper-thumbs-wrapper {
                width: 3rem;
                height: 3rem;
            }
        }
    }
}

.swiper-image-wrapper {
    width: 16.3rem;
    height: 16.3rem;
    margin: auto;
}

/*КОНЕЦ СТИЛЕЙ СЕКЦИИ НОМЕРА И ПЛАНИРОВКИ*/

/*НАЧАЛО СТИЛЕЙ СЕКЦИИ ПРЕИМУЩЕСТВА*/
.benefits {
    .wrapper {
        padding: 0;
    }

    .title {
        padding: 0 1.6rem;
    }
}

.benefits__img {
    position: relative;
    width: 100%;
    height: 16.3rem;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.benefits__cards {
    padding: 0 1.6rem;
    margin-top: 4rem;
}

.benefits__card-item {
    padding: 1.6rem 2.4rem;
    border: 1px solid #F3EBE1;
    margin: 0 auto 0.8rem;
    max-width: 28.8rem;

    &:nth-last-of-type(1) {
        margin-bottom: 0;
    }
}

.benefits__card-item-main {
    display: flex;
    align-items: center;
}

.benefits__card-image {
    width: 4.4rem;
    height: 4.4rem;
    margin-right: 2.4rem;
    flex-shrink: 0;

    img {
        width: 100%;
        height: auto;
    }

}

.benefits__card-title {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 300;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.benefits__card-text {
    display: none;
}

/*КОНЕЦ СТИЛЕЙ СЕКЦИИ ПРЕИМУЩЕСТВА*/

/*НАЧАЛО СТИЛЕЙ СЕКЦИИ ГАРАНТИИ ДЛЯ ИНВЕСТОРА*/
.guarantees {
    .wrapper {
        padding: 0;
    }
}

.guarantees__info {
    padding: 0 1.6rem;
}

.guarantees__image {
    position: relative;
    margin: 4rem auto 0;
    width: 32rem;
    height: 35.7rem;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.guarantees__text {
    .text {
        margin-bottom: 1.6rem;
    }
}

/*КОНЕЦ СТИЛЕЙ СЕКЦИИ ГАРАНТИИ ДЛЯ ИНВЕСТОРА*/

/*НАЧАЛО СТИЛЕЙ СЕКЦИИ ПРОЗРАЧНОСТЬ СДЕЛКИ И ПОДЛИННОСТЬ ДОКУМЕНТОВ*/
.authenticity {
    .text__desc {
        margin-top: 1.6rem;
    }
}

.authenticity__image {
    margin: 0 auto 1.5rem;
    position: relative;
    width: 28.8rem;
    height: 14.8rem;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(252, 248, 247, 0) 25.66%, #FCF8F7 97.22%);
    }

    img {
        width: 100%;
        height: auto;
    }
}

/*КОНЕЦ СТИЛЕЙ СЕКЦИИ ПРОЗРАЧНОСТЬ СДЕЛКИ И ПОДЛИННОСТЬ ДОКУМЕНТОВ*/

/*НАЧАЛО СТИЛЕЙ СЕКЦИИ ВОПРОС - ОТВЕТ*/
.faq {
    .title {
        margin-bottom: 3.2rem;
    }
}

/*КОНЕЦ СТИЛЕЙ СЕКЦИИ ВОПРОС - ОТВЕТ*/



/*НАЧАЛО СТИЛЕЙ СЕКЦИИ СТАНЬТЕ ВЛАДЕЛЬЦЕМ ГОСТИНИЧНОГО БИЗНЕСА УЖЕ СЕГОДНЯ*/
.consultation {
    .title {
        margin-bottom: 2.4rem;
    }
}

.consultation__container {
    margin-top: 2.4rem;
}

.consultation__form {
    margin-bottom: 3rem;
}

.consultation__form-input-wrapper {
    margin-bottom: 0.8rem;
    position: relative;
}

.consultation__form-input {
    position: relative;
    border: transparent;
    width: 100%;
    padding: 1.6rem;
    height: 5.6rem;
    font-size: 1.1rem;
    line-height: 1.7rem;
    color: $brown;
    font-family: "TT Hoves";

    &::placeholder {
        font-family: "TT Hoves";
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.4rem;
        color: $light-brown;
    }
}

/* СТИЛИ ДЛЯ ОШИБКИ ВВОДА В ИНПУТЫ*/
.input-error {
    color: $red;
}

.input-error-info {
    display: none;
    position: absolute;
    padding: 0.7rem 1rem;
    background-color: $bg-input-error;
    color: $red;

    &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: -0.7rem;
        left: calc(50% - 0.45rem);
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-bottom: 1rem solid $bg-input-error;
        transition: 0.3s ease;
        transform: rotate(180deg);

    }

    span {
        margin-right: 0.8rem;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.2rem;
    }

    p {
        width: 19.2rem;
    }
}

.input-error-info.active {
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    top: 1.5rem;
}

.btn-disabled {
    opacity: 0.3;
}

/* КОНЕЦ СТИЛЕЙ ДЛЯ ОШИБКИ ВВОДА В ИНПУТЫ*/

.consultation__form-textarea {
    height: 12.4rem;
    resize: none;
    overflow-y: auto;
    scrollbar-color: $border transparent;
    /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $border;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

}

.consultation__button {
    margin-top: 2.4rem;
}

.consultation__button-text {
    margin-top: 1.6rem;
    font-size: 1.1rem;
    line-height: 2rem;
    font-style: italic;
    font-weight: 300;
    color: $light-brown;
}

.consultation__map-info {
    padding: 1.6rem 2.4rem;
    background: $white;
}

.consultation__map-info-title {
    margin-bottom: 1.8rem;
}

.consultation__map-info-item {
    margin-bottom: 0.8rem;

    &:nth-last-of-type(1) {
        margin-bottom: 0;
    }
}

.consultation__map-img {
    position: relative;
    width: 100%;
    height: 18.3rem;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: $map-background;
        mix-blend-mode: color;
        left: 0;
        top: 0;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.consultation__map-info-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.consultation__map-info-phone {
    font-weight: 500;
}

.consultation__map-info-email {
    position: relative;
    display: inline-flex;
    align-items: center;

    span {
        margin-left: 1.2rem;
    }

    svg {
        width: 1.2rem;
        height: 1.2rem;
    }
}

/*КОНЕЦ СТИЛЕЙ СЕКЦИИ СТАНЬТЕ ВЛАДЕЛЬЦЕМ ГОСТИНИЧНОГО БИЗНЕСА УЖЕ СЕГОДНЯ*/


/*НАЧАЛО СТИЛЕЙ ФУТЕРА*/
.footer {
    background-color: #947D66;
    padding: 2.4rem 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    display: inline-block;
    flex-shrink: 0;
    width: 9.6rem;
    height: 2.9rem;

    img {
        width: 100%;
        height: auto;
    }
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.footer__list-item {
    line-height: 2rem;
    color: $white;
    margin-bottom: 0.8rem;
    flex: 0 41%;
    display: inline-flex;
    justify-content: flex-start;
}

.footer__contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2.4rem;
    align-items: flex-start;
}

.footer__contacts-socials {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
}

.footer__contacts-socials-span {
    display: inline-block;
    max-width: 8.4rem;
    color: $white;
    font-size: 1.1rem;
    line-height: 1.3rem;
    margin-right: 2.4rem;
}

.footer__contacts-socials-link {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.8rem;

    &:nth-last-of-type(1) {
        margin-right: 0;
    }

    svg {
        width: 100%;
        height: auto;
    }

    &:active,
    &:focus,
    &:focus-within {
        svg path {
            fill: $border;
        }
    }
}

.footer__contacts-info {
    display: flex;
    flex-direction: column;
}

.footer__contacts-info-phone {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 500;
    color: $white;
    margin-bottom: 0.8rem;
    display: inline-block;
}

.footer__contacts-info-address {
    line-height: 1.2rem;
    color: $white;
    opacity: 0.5;

    &:active,
    &:focus,
    &:focus-within {
        opacity: 0.5;
    }
}

.footer__add-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.6rem;
}

.footer__add-info-privacy {
    margin-bottom: 0.8rem;
    display: inline-block;
    font-size: 1.1rem;
    line-height: 2.1rem;
    color: $white;
    opacity: 0.5;

    &:active,
    &:focus,
    &:focus-within {
        opacity: 0.5;
    }
}

.footer__add-info-upfly {
    font-size: 1.1rem;
    line-height: 2.1rem;
    color: $white;
    font-weight: 300;

    &:active,
    &:focus,
    &:focus-within {
        opacity: 0.5;
        padding-top: 0.4rem;
    }
}

/*КОНЕЦ СТИЛЕЙ ФУТЕРА*/

/*НАЧАЛО СТИЛЕЙ МОБИЛЬНОГО МЕНЮ*/

.mobile-menu__wrapper {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(56, 22, 17, 0.05);
    transition: 0.3s ease;
}

.mobile-menu {
    width: 76%;
    height: 100%;
    background-color: $bgcolor;
    padding: 2.4rem;
    z-index: 1001;
}

.mobile-menu__wrapper.active {
    // display: block;
    left: 0;
}

.mobile-menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.mobile-menu__header-logo {
    width: 9.6rem;
    height: 2.9rem;

    img {
        width: 100%;
        height: auto;
    }
}

.close {
    width: 2.8rem;
    height: 2.8rem;
    position: relative;
    display: inline-flex;
    align-items: center;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $border;
        top: auto;
        transform: rotate(45deg);
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $border;
        bottom: auto;
        transform: rotate(-45deg);
    }
}

.mobile-menu__list-item {
    position: relative;
    padding-bottom: 1.2rem;
    margin-bottom: 1.2rem;

    &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: $mobile-line;
        bottom: 0;
        left: 0;
    }

    &:nth-last-of-type(1) {
        position: static;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    a {
        font-size: 1.1rem;
        line-height: 2.4rem;
    }
}

.mobile-menu__phone {
    margin-top: 6rem;
}

.mobile-menu__phone-link {
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #947D66;
    font-weight: 500;
}

/*КОНЕЦ СТИЛЕЙ МОБИЛЬНОГО МЕНЮ*/

/*НАЧАЛО СТИЛЕЙ МОДАЛЬНОГО ОКНА ПОЛУЧИТЬ ПЕРСОНАЛЬНОЕ ПРЕДЛОЖЕНИЕ*/
.offer {

    .consultation__container {
        margin-top: 3.2rem;
    }

    .consultation__form-input {
        border: 1px solid $mobile-line;
    }

    .consultation__form-textarea {
        margin-bottom: 0;
    }

    .consultation__button {
        margin-top: 3.2rem;
    }
}

/*КОНЕЦ СТИЛЕЙ МОДАЛЬНОГО ОКНА ПОЛУЧИТЬ ПЕРСОНАЛЬНОЕ ПРЕДЛОЖЕНИЕ*/

// @keyframes night {
//     0% {
//         opacity: 0;
//     }

//     20% {
//         opacity: 1;
//     }

//     50% {
//         opacity: 1;
//     }

//     80% {
//         opacity: 0;
//     }

//     100% {
//         opacity: 0;
//     }
// }

// .main__background-night {
//     animation: night 6s ease-out infinite;
// }

// .main__background-day {
//     animation: night 10s ease-out infinite;
// }


.main__background {
    opacity: 0;
    transition: 2s ease;
}

.main__background.active {
    opacity: 1;
}

/*##################################################################################################################################*/
/*НАЧАЛО СТИЛЕЙ СПАСИБО ЗА ЗАЯВКУ*/

.thanks {
    padding: 8rem 0 0 0;
    height: 100vh;
    overflow: hidden;

    .wrapper {
        padding: 0 0 0 1.6rem;
        height: 100%;
    }
}

.thanks__container {
    display: flex;
    // overflow: hidden;
    height: 100%;
}

.thanks__info {
    flex-shrink: 0;
    width: 100%;
    max-width: 19rem;
    align-self: center;
}

.thanks__btn {
    padding: 0.75rem 2.4rem;
    background-color: $light-brown;
    display: inline-block;
    color: #fff;
    font-size: 1.1rem;
    line-height: 2.4rem;
    margin-top: 1.6rem;
}

.thanks__image {
    position: relative;
    margin-left: 3.2rem;

    .switch-image-night,
    .switch-image-day {
        position: absolute;


        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: linear-gradient(0deg, rgb(252, 248, 247) 0%, rgba(255, 255, 255, 0) 20%);
        }

        img {
            height: 100%;
            width: auto;
            object-fit: fill;
            max-width: none;
        }
    }
}

/*КОНЕЦ СТИЛЕЙ СПАСИБО ЗА ЗАЯВКУ*/

/*##################################################################################################################################*/
/*404*/
.not-found {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;

    .wrapper {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(4px);
    }

    .text,
    .text__desc {
        color: #fff;
    }

    .text {
        margin-bottom: 1.6rem;
    }

    .btn-main {
        margin-top: 4rem;
    }

    .main__buttons-logo {
        display: block;
        margin-left: 0;
        margin-top: 3.9rem;
    }
}

.not-found__title {
    font-weight: 300;
    font-size: 6.6rem;
    line-height: 7.8rem;
    margin-bottom: 0.8rem;
}

.not-found-container {
    max-width: 23.9rem;
}

/*##################################################################################################################################*/
/*ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ*/

.privacy__content {
    padding-right: 0.2rem;
    height: 100%;
    overflow-y: auto;
    scrollbar-color: $border transparent;
    /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $border;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

}