$bgcolor: #FCF8F7;
$brown: #381611;
$light-brown: #947D66;
$border: #D5C9BB;
$white: #ffffff;
$light-brown-opacity02: #F2EBE8;
$white-opacity02: #F0F0F0;
$map-background: #D7C8BA;
$red: #D3513F;
$mobile-line: #F3EBE1;
$bg-input-error: #FCE1DD;